extends layout3
block content
    div.container
        fieldset.outer
            legend Ary's bridal Client Form
            form(class="form1", name="form1", action="/myform", method="POST")
                p
                input(type="text" name="name" placeholder="Name" required)
                p
                input(type="tel" name="phone" placeholder="Phone" required)
                p
                input(type="email" name="email" placeholder="Email" required) 
                p
                fieldset.inner
                    legend What item do you need
                    p
                    input(type="checkbox" name="item" value="wedding_gown") 
                    label(for="form1") Wedding gown
                    p
                    input(type="checkbox" name="item" value="changing_dress")
                    label(for="form1") Changing dress
                    p
                    input(type="checkbox" name="item" value="bridal_shoes")   
                    label(for="form1") Bridal Shoes

                p
                fieldset.inner2
                    legend Extras(Pick One)
                    p
                    input(type="radio" name="extras" value="crown") 
                    label(for="form1") Crown
                    p
                    input(type="radio" name="extras" value="veil")
                    label(for="form1") Veil
                    p
                    input(type="radio" name="extras" value="flower_girl_dress")   
                    label(for="form1") Flower girl dress

                p
                label(for="form1") Pickup Date
                input(type="datetime-local" name="pickup_time")

                
                div.delivery
                    p
                    label Pickup Place
                        select(id="pickup_place" name="pickup_place")
                            option(value="" selected="selected") Select One
                            option(value="acacia" name="acacia") Acacia Mall
                            option(value="oasis" name="oasis") Oasis Mall
                            option(value="delivery" name="delivery") Home Delivery
                    p
                    label Dropoff Place
                    input(type="text" name="dropoff_place" required list="destinations")
                    datalist(id="destinations")
                        option(value="Airport" name="Airport")
                        option(value="Beach" name="Beach")
                        option(value="Fred Flinstone's House" name="Fred Flinstone's House")  
                    p
                    label Special Instructions
                        textarea(name="comments" maxlength="500")

                p
                button.formbutton Submit Order