extends layout3
block content
    div.container
      h1 Welcome to Ari's Bridal
      p Your One Stop center for all your bridal needs
      img(src="img/bridalArys1.jpg", alt="ArysBridal")
      p
      p
      a(href="myform")
        button.homebutton(type="button") Make Your Order Here
